= partial("partials/header", locals: {page_url: "projects"})
.container
  %h1 はこだてアプリポータル
  %p 函館市内のWEBサービスやアプリを列挙し、案内するポータルサイトを制作します。
 
  %h1 税金はどこへ行った?函館版
  %p 自分の収めている税金がどのように使われているかが簡易的にわかるWEBサービスに使われているデータを最新のものに更新。データをオープンデータ化してアプリ側で更新しなくても自動的に最新データに更新できるようにします。
 
  %h1 Pecily (函館交通機関の時刻表のオープンデータ化
 
  %h1 Wikipedia タウン
  %p 函館や道南地域の観光名所や歴史的な建築物などをインターネット上の百科事典「ウィキペディア」に掲載していきます。文献を使ってまちや建物の歴史を調査し、ウィキペディアの編集方法を学べるワークショップを企画・開催しています。地域のことを知り、全世界に自分が調べたことを公開することができます。過去のワークショップでは以下の記事を編集しました。
  %ul  
    %li= link_to "トラピスチヌ修道院", "https://ja.wikipedia.org/wiki/%E3%83%88%E3%83%A9%E3%83%94%E3%82%B9%E3%83%81%E3%83%8C%E4%BF%AE%E9%81%93%E9%99%A2"
    %li= link_to "函館市旧イギリス領事館", "https://ja.wikipedia.org/wiki/%E5%87%BD%E9%A4%A8%E5%B8%82%E6%97%A7%E3%82%A4%E3%82%AE%E3%83%AA%E3%82%B9%E9%A0%98%E4%BA%8B%E9%A4%A8"
    %li= link_to "函館公園", "https://ja.wikipedia.org/wiki/%E5%87%BD%E9%A4%A8%E5%85%AC%E5%9C%92"  
  %h1 Monaca 勉強会
  %h1 International Open Data Day
