%footer
  %ol.breadcrumb
    %li
      %a{href: "https://creativecommons.org/licenses/by/4.0/deed.ja", target: "_blank"}
        %img{src: "https://i.creativecommons.org/l/by/4.0/88x31.png"}
        クリエイティブ・コモンズ 表示 4.0 国際 ライセンスの下に提供されています。
= google_analytics_tag
