= partial("partials/header", locals: {page_url: "sponsor"})
.container
  %h1 Code for Hakodate のスポンサー
  %p Code for Hakodate を支援して頂いている以下の機関に大きな感謝をいたします。
  %ul
    %li= link_to "Conoha", "https://www.conoha.jp", target: "_blank"
    %p Code for Hakodate のサーバを提供いただいています。
