= partial("partials/header", locals: {page_url: "/"})
.jumbotron
  .container
    %h1 Code for Hakodate
    %p 道南地域・函館のために、IT技術を使い問題解決を行うコミュニティ
    = link_to "詳しく", "/about", class: "btn btn-info", role: "button"
